.archive-container {
    margin-top: 15%;
    right: 17.5rem;
    position: absolute;
    overflow-x: hidden;
}

.archive-container .archive-files-container {
    height: 532px;
    overflow-y: auto;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
    padding: 1px;
    padding-left: 2px;

    &::-webkit-scrollbar {
        display: none;
    }
}

.archive-container .pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: 'IRANSans';
}

.archive-container .pagination {
    display: flex;
}

.archive-container .pagination li {
    display: flex;
    justify-content: center;
    margin: 0 2px;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    user-select: none;
    cursor: pointer;
    color: black;
    background-color: white;
}

.archive-container li.active {
    color: white;
    background-color: rgb(7, 180, 155);
}

.archive-container li.previous,
.archive-container li.next {
    color: black;
    background-color: white;
    margin: 0 0px;
}

.archive-container li.disabled {
    pointer-events: none;
    opacity: 1;
}