.box {
    justify-content: center;
    align-items: center;
    display: flex;
}

.box .upload-box {
    width: 45.5%;
    height: 52%;
    top: 237px;
    left: 336px;
    position: absolute;
}

.box .navbar {
    width: 378px;
    height: 48px;
    overflow: hidden;
    position: relative;
    right: 0;
    text-align: right;
}

.navbar .record-btn {
    width: 144px;
    height: 48px;
    flex-direction: row;
    display: inline-flex;
    font-family: "IRANYekan";
    justify-content: center;
    position: relative;
    border-color: transparent;
    border-radius: 10px 10px 0 0;
}

.navbar .mic-icon {
    top: 9px;
    position: absolute;
    margin-left: 80px;
}

.navbar .mic-text {
    top: 9px;
    position: relative;
}

.navbar .upload-button {
    width: 144px;
    height: 48px;
    flex-direction: row;
    display: inline-flex;
    font-family: "IRANYekan";
    justify-content: center;
    position: relative;
    border-color: transparent;
    border-radius: 10px 10px 0 0;
}

.navbar .upload-icon {
    top: 9px;
    position: absolute;
    margin-left: 80px;
    height: 21px;
    width: 30px;
}

.navbar .upload-text {
    top: 9px;
    position: relative;
    margin-right: 30px;
}

.navbar .link-button {
    width: 90px;
    height: 48px;
    flex-direction: row;
    display: inline-flex;
    font-family: "IRANYekan";
    justify-content: center;
    position: relative;
    border-color: transparent;
    border-radius: 10px 10px 0 0;
}

.navbar .link-icon {
    top: 9px;
    position: absolute;
    margin-left: 40px;
    height: 21px;
    width: 17px;
}

.navbar .link-text {
    top: 9px;
    position: relative;
    margin-right: 20px;
}