.box {
    justify-content: center;
    align-items: center;
    display: flex;
}

.box .upload-box {
    width: 45.5%;
    height: 52%;
    top: 237px;
    left: 336px;
    position: absolute;
}

.box .navbar {
    width: 378px;
    height: 48px;
    overflow: hidden;
    position: relative;
    right: 0;
    text-align: right;
}

.navbar .record-btn {
    width: 144px;
    height: 48px;
    flex-direction: row;
    display: inline-flex;
    font-family: "IRANYekan";
    justify-content: center;
    position: relative;
    border-color: transparent;
    border-radius: 10px 10px 0 0;
}

.navbar .mic-icon {
    top: 9px;
    position: absolute;
    margin-left: 80px;
}

.navbar .mic-text {
    top: 9px;
    position: relative;
}

.navbar .upload-button {
    width: 144px;
    height: 48px;
    flex-direction: row;
    display: inline-flex;
    font-family: "IRANYekan";
    justify-content: center;
    position: relative;
    border-color: transparent;
    border-radius: 10px 10px 0 0;
}

.navbar .upload-icon {
    top: 9px;
    position: absolute;
    margin-left: 80px;
    height: 21px;
    width: 30px;
}

.navbar .upload-text {
    top: 9px;
    position: relative;
    margin-right: 30px;
}

.navbar .link-button {
    width: 90px;
    height: 48px;
    flex-direction: row;
    display: inline-flex;
    font-family: "IRANYekan";
    justify-content: center;
    position: relative;
    border-color: transparent;
    border-radius: 10px 10px 0 0;
}

.navbar .link-icon {
    top: 9px;
    position: absolute;
    margin-left: 40px;
    height: 21px;
    width: 17px;
}

.navbar .link-text {
    top: 9px;
    position: relative;
    margin-right: 20px;
}

.box .center-upload {
    width: 653px;
    height: 429px;
    border: 1px solid #118AD3;
    border-radius: 25px;
    padding-top: 25%;
}

.center-upload .center-upload-icon {
    height: 62px;
    width: 62px;
    border-color: transparent;
    border-radius: 31px;
    box-shadow: 0px 4px 4px #00000040;
    background-color: #118AD3;
    padding-top: 2%;
}

.center-upload .center-uploadIcon {
    height: 40px;
    width: 29px;
}

.center-upload .center-upload-text {
    color: #626262;
}

.box .center-link {
    width: 653px;
    height: 429px;
    border: 1px solid #FF1654;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.center-link .input-box {
    width: 50%;
    height: 11%;
    border: 1px solid #FF1654;
    border-radius: 50px;
    justify-content: left;
    align-items: center;
    display: flex;
}

.center-link .link-input {
    border-color: transparent;
    width: 10.5rem;
}

.center-link .center-link-icon {
    background-color: #ff1654;
    border-radius: 15px;
    height: 30px;
    width: 30px;
    border-color: transparent;
    box-shadow: 0px 4px 4px #00000040;
    display:inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 1.5rem;
}


.center-link .center-link-text {
    color: #626262;
}