.sendtype-icon {
    height: 32px;
    width: 32px;
}

.archive-file-inactive {
    display: flex;
    width: 70rem;
    justify-content: center;
    align-items: center;
    height: 4rem;
    border-radius: 10px;

    &:hover {
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
    }
}

.archive-file-active {
    width: 70rem;
    height: 23rem;
    border-radius: 10px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
    padding-top: 3rem;
    transition: height 1s;
    overflow: hidden;
    -ms-overflow-style: none;
    /* IE 11 */
    scrollbar-width: none;
    /* Firefox 64 */
}

.archive-file-up {
    display: flex;
    width: 70rem;
    justify-content: center;
}

.sendtype-icon {
    align-items: center;
    width: 31px;
    height: 31px;
    flex: 1;
}

.archive-file-name {
    direction: ltr;
    background-color: transparent;
    border-color: transparent;
    font-family: 'IRANYekan';
    flex: 5.4;
    text-align: end;
    max-height: 28px;
    white-space: nowrap;
    overflow-x: auto;
    font-size: 16px;
    font-weight: 300;

    &::-webkit-scrollbar {
        display: none;
    }
}

.link-name {
    color: #118AD3;
}

.archive-file-date {
    flex: 1.7;
    text-align: center;
    font-family: 'IRANSans';
    font-size: 14px;
    font-weight: lighter;
}

.archive-file-type {
    flex: 1;
    text-align: center;
    font-size: 14px;
}

.archive-file-duration {
    flex: 1.1;
    position: relative;
    text-align: center;
    font-family: 'IRANSans';
    font-size: 14px;
}

.archive-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1.8;
}

.archive-download-icon {
    fill: rgb(143, 143, 143);
}

.archive-download-icon:hover {
    fill: rgb(7, 180, 155);
}

.archive-word-icon {
    fill: rgb(143, 143, 143);
}

.archive-word-icon:hover {
    fill: rgb(7, 180, 155);
}

.archive-copy-icon {
    fill: rgb(143, 143, 143);
}

.archive-copy-icon:hover {
    fill: rgb(7, 180, 155);
}

.archive-del-icon {
    stroke: rgb(143, 143, 143);
}

.archive-del-icon:hover {
    stroke: rgb(255, 255, 255);
}

.archive-del-btn {
    height: 30px;
    width: 30px;
    background-color: transparent;
    border-color: transparent;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    display: flex;

    &:hover {
        background-color: rgb(220, 53, 69);
        border-radius: 25px;
    }
}