*{
  box-sizing: border-box;
}

.side-menu {
    height: 100vh;
    width: 330px;
  }
  
  .side-menu .overlap {
    height: 100vh;
    position: relative;
  }
  
  .side-menu .back {
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 330px;
  }
  
  .side-menu .overlap-group {
    height: 100vh;
    position: relative;
    top: 0;
    width: 228px;
  }
  
  .side-menu .div {
    background: linear-gradient(180deg, rgb(0, 181, 160) 0%, rgb(0, 198, 155) 100%);
    border-radius: 10px 0px 0px 10px;
    height: 100vh;
    left: 62px;
    position: absolute;
    top: 0;
    width: 166px;
  }
  
  .side-menu .alefba-group {
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 228px;
  }
  
  .side-menu .site-title {
    height: 38px;
    margin-right: 50px;
    position: absolute;
    top: 58px;
    width: 56px;
  }
  
  .side-menu .element {
    color: #ffffff;
    direction: rtl;
    font-size: 20px;
    font-weight: bolder;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 1px;
  }
  
  .side-menu .icon {
    height: 38px;
    left: 35px;
    position: absolute;
    top: 0;
    width: 19px;
  }
  
  .side-menu .line {
    height: 38px;
    left: 9px;
    position: absolute;
    top: 0;
    width: 3px;
  }
  
  .side-menu .img {
    height: 18px;
    left: 19px;
    position: absolute;
    top: 10px;
    width: 3px;
  }
  
  .side-menu .line-2 {
    height: 18px;
    left: 0;
    position: absolute;
    top: 10px;
    width: 3px;
  }
  
  .side-menu .goftar {
    border-radius: 10px;
    height: 48px;
    left: 172px;
    position: absolute;
    top: 277px;
    width: 150px;
  }
  
  /*.side-menu .title {
    height: 28px;
    left: 18px;
    position: relative;
    top: 11px;
    width: 113px;
  }*/
  
  .side-menu .text-wrapper {
    color: #ffffff;
    direction: rtl;
    font-family: 'IRANYekan';
    font-size: large;
    font-weight: bold;
    position: absolute;
    height: 28px;
    width: 111px;
    top: 7px;
    left: 70px;
  }
  
  .side-menu .speech-icon {
    height: 25px;
    position: absolute;
    width: 22px;
    top: 2px;
    left: 50px;
  }
  
  .side-menu .archive {
    border-radius: 10px;
    height: 48px;
    left: 172px;
    position: absolute;
    top: 364px;
    width: 150px;
  }
  
  .side-menu .archive-icon {
    height: 20px;
    position: absolute;
    width: 20px;
    top: 5px;
  }
  
  /*.side-menu .element-2 {
    color: #ffffff;
    direction: rtl;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }*/
  
  button{
    background-color: transparent;
    border-color: transparent;
    justify-content: center;
    height: 48px;
    width: 150px;
    margin-right: 7px;
  }

  button:hover {
    background-color: #01806e;
    border-radius: 10px;
    height: 48px;
    left: 70px;
    position: absolute;
    top: 277px;
    width: 150px;
  }

  .side-menu .text{
    margin-right: 60px;
    width: 111px;
  }