.box {
    justify-content: center;
    align-items: center;
    display: flex;
}

.box .upload-box {
    width: 653px;
    height: 477px;
    top: 237px;
    left: 336px;
    position: absolute;
}

.box .navbar {
    width: 378px;
    height: 48px;
    overflow: hidden;
    position: relative;
    right: 0;
    text-align: right;
}

.navbar .record-btn {
    width: 144px;
    height: 48px;
    flex-direction: row;
    display: inline-flex;
    font-family: "IRANYekan";
    justify-content: center;
    position: relative;
    border-color: transparent;
    border-radius: 10px 10px 0 0;
}

.navbar .mic-icon {
    top: 9px;
    position: absolute;
    margin-left: 80px;
}

.navbar .mic-text {
    top: 9px;
    position: relative;
}

.navbar .upload-button {
    width: 144px;
    height: 48px;
    flex-direction: row;
    display: inline-flex;
    font-family: "IRANYekan";
    justify-content: center;
    position: relative;
    border-color: transparent;
    border-radius: 10px 10px 0 0;
}

.navbar .upload-icon {
    top: 9px;
    position: absolute;
    margin-left: 80px;
    height: 21px;
    width: 30px;
}

.navbar .upload-text {
    top: 9px;
    position: relative;
    margin-right: 30px;
}

.navbar .link-button {
    width: 90px;
    height: 48px;
    flex-direction: row;
    display: inline-flex;
    font-family: "IRANYekan";
    justify-content: center;
    position: relative;
    border-color: transparent;
    border-radius: 10px 10px 0 0;
}

.navbar .link-icon {
    top: 9px;
    position: absolute;
    margin-left: 40px;
    height: 21px;
    width: 17px;
}

.navbar .link-text {
    top: 9px;
    position: relative;
    margin-right: 20px;
}

.box .center-mic {
    width: 653px;
    height: 429px;
    border: 1px solid #00BA9F;
    border-radius: 25px 0 25px 25px;
    padding-top: 25%;
}

.center-mic .center-mic-icon {
    height: 62px;
    width: 62px;
    border-color: transparent;
    border-radius: 31px;
    box-shadow: 0px 4px 4px #00000040;
    background-color: #00BA9F;
    padding-top: 2%;
}

.center-mic .center-micIcon {
    height: 40px;
    width: 29px;
}

.center-mic .center-mic-text{
    color: #626262;
}