.archive-header {
    position: absolute;
    top: 12%;
    width: 100%;
}

.archive-header .archive-title {
    margin-left: 57%;
    font-weight: 400;
    color: #00BA9F;
}

.archive-header .archive-lables {
    font-size: 14px;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 70rem;
    position: absolute;
    right: 18rem;
}

.archive-lables .first-blank {
    flex: 1;
}

.archive-lables .file-name {
    flex: 5.4;
    text-align: right;
}

.archive-lables .date {
    flex: 1.7;
    text-align: center;
}

.archive-lables .data-type {
    flex: 1;
    text-align: center;
}

.archive-lables .file-length {
    flex: 1.1;
    text-align: center;
}

.archive-lables .last-blank {
    flex: 1.8;
}
