.archive-header {
    position: absolute;
    top: 12%;
    width: 100%;
}

.archive-header .archive-title {
    margin-left: 57%;
    font-weight: 400;
    color: #00BA9F;
}

.archive-header .archive-lables {
    font-size: 14px;
    display: flex;
    margin-right: 23%;
}

.archive-lables .date {
    margin-right: 42%;
}

.archive-lables .data-type {
    margin-right: 5.5%;
}

.archive-lables .file-length {
    margin-right: 3.5%;
}