.archive-header {
    position: absolute;
    top: 12%;
    width: 100%;
}

.archive-header .archive-title {
    margin-left: 50%;
    font-weight: 400;
    color: #00BA9F;
}

.archive-header .archive-lables {
    font-size: 14px;
    display: flex;
    margin-right: 27%;
}

.archive-lables .date {
    margin-right: 40%;
}

.archive-lables .data-type {
    margin-right: 6%;
}

.archive-lables .file-length {
    margin-right: 5%;
}