.zaban-goftar {
  height: 37px;
  position: absolute;
  width: 123px;
  top: 46.5rem;
  left: 31rem;
  color: rgb(98, 98, 98);
}

.language {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.language .language-dropdown {
  height: 37px;
  position: absolute;
  width: 123px;
  top: 45rem;
  left: 28rem;
}

.language .language-buttons-group {
  background-color: transparent;
  height: 37px;
  position: absolute;
  border-color: transparent;
  width: 121px;
}

.language .language-close-border {
  border: 1.5px solid;
  border-color: #00ba9f;
  border-radius: 20px;
  background-color: #fdfdfd;
  width: 121px;
  height: 37px;
  position: absolute;
  transition: height 1s;
}

.language .language-open-border {
  height: 81px;
  position: absolute;
  width: 123px;
  border: 1.5px solid;
  border-color: #00ba9f;
  border-radius: 20px;
  background-color: #fdfdfd;
  transition: height 1s;
  overflow-y: hidden;
}

.language .language-text-wrapper {
  color: #00ba9f;
  direction: rtl;
  font-family: "IRANYekan";
  font-size: 15px;
  font-weight: 400;
  left: 38px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 4px;
}

.language .language-drop-icon {
  height: 4px;
  left: 20px;
  position: absolute;
  top: 16px;
  width: 6px;
}

.language .down {
  height: 24px;
  left: 4px;
  position: absolute;
  top: 46px;
  width: 55px;
  bottom: 4px;
}

.language .language-seperator {
  height: 1px;
  left: 19px;
  position: absolute;
  top: 39px;
  width: 84px;
}

.language .language-text {
  color: #00ba9f;
  direction: rtl;
  font-family: "IRANYekan";
  font-size: 15px;
  font-weight: 400;
  left: 38px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 4px;
}


.language .down-button {
  color: #00ba9f;
  direction: rtl;
  font-family: "IRANYekan";
  font-size: 15px;
  font-weight: 400;
  left: 1.5rem;
  position: absolute;
  background-color: #fdfdfd;
  border-color: transparent;
}

.language .down button {
  bottom: 1%;
}