.center-uploaded {
    width: 653px;
    height: 429px;
    border: 1px solid #118AD3;
    border-radius: 25px;
}

.center-uploaded .upload-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
    height: 12%;
}

.upload-navbar .upload-navbar-right {
    margin-right: 5%;
    align-self: flex-end;
}

.upload-navbar-right .simple-text-button {
    width: 100px;
    flex-direction: row;
    display: inline-flex;
    font-family: "IRANYekan";
    justify-content: center;
    position: relative;
    background-color: transparent;
    padding-bottom: 0;
    top: 12px;
    border-color: transparent;
}

.upload-navbar-right .simple-text-icon {
    margin-left: 10px;
    position: relative;
    bottom: 7px;
}

.upload-navbar-right .simple-text {
    position: relative;
    bottom: 12px;
}

.upload-navbar-right .timed-text-button {
    width: 170px;
    flex-direction: row;
    display: inline-flex;
    font-family: "IRANYekan";
    justify-content: center;
    position: relative;
    border-color: transparent;
    background-color: transparent;
    padding-bottom: 0;
    top: 12px;
    border-color: transparent;
}

.upload-navbar-right .timed-text-icon {
    margin-left: 5px;
    position: relative;
    bottom: 7px;
}

.upload-navbar-right .timed-text {
    position: relative;
    bottom: 12px;
    margin-right: 1px;
}

.upload-navbar-left {
    display: flex;
    margin-left: 5%;
    max-height: 34px;
}

.upload-navbar-left .download {
    width: 50px;
    flex-direction: row;
    display: inline-flex;
    justify-content: center;
    position: relative;
    background-color: transparent;
    padding-bottom: 0;
    top: 75%;
    border-color: transparent;
}

.upload-navbar-left .download-icon {
    width: 14px;
    height: 15px;
}

.upload-navbar-left .copy {
    width: 50px;
    flex-direction: row;
    display: inline-flex;
    justify-content: center;
    position: relative;
    background-color: transparent;
    padding-bottom: 0;
    top: 75%;
    border-color: transparent;
    margin-left: 5%;
}

.upload-navbar-left .copy-icon {
    width: 16px;
    height: 18px;
}

.upload-navbar-left .refresh-button {
    width: 120px;
    flex-direction: row;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    background-color: transparent;
    padding-bottom: 0;
    top: 50%;
    border-color: transparent;
    border-radius: 20px;
}

.upload-navbar-left .refresh-text {
    color: white;
    font-family: 'IRANYekan';
}

.center-uploaded .center-box {
    height: 18rem;
    direction: rtl;
}

.center-uploaded .text-box-fa {
    text-align: start;
    margin-right: 2rem;
    margin-left: 2rem;
}

.center-uploaded .text-box-en {
    direction: ltr;
    text-align: start;
    margin-right: 2rem;
    margin-left: 3rem;
}

.center-box .data-row {
    display: inline-flex;
    width: 90%;
    margin-left: 1rem;
    height: 22.5%;
    border-radius: 25px;
    align-content: space-around;
    flex-wrap: wrap;
    opacity: 80%;
}

.data-row .end-time {
    margin-right: 5%;
    font-family: 'IRANSans';
}

.data-row .start-time {
    margin-right: 10%;
    font-family: 'IRANSans';
}


.data-row .data-text-fa {
    margin-right: 15%;
    text-align: start;
}

.data-row .data-text-en {
    margin-right: 15%;
    text-align: start;
    direction: ltr;
}

.simplebar-scrollbar {
    height: 20% !important;
}

.simplebar-scrollbar::before {
    background-color: rgb(149, 149, 149) !important;
}

.simplebar-track {
    background-color: rgb(240, 240, 240);
    border-radius: 7px;
    margin-left: 1rem;
}

.footer {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-uploaded .hr {
    width: 605px;
    height: 10px;
}